html,
body {
    margin: 0px;
    background-color: #2f4f30;
    color: white;
}
/* .imgJugador{
    border: 2px solid black;
} */

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 35px;
}

.carta {
    position: relative;
    margin-top: 10px;
    width: 70px;
    left: 5px;
    margin-left: -50px;
}

.imgFicha {
    position: relative;
    margin-top: 5px;
    width: 30px;
    left: 5px;
    margin-left: -10px;
}

#btnconfig {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin: 10px;
    font-size: 10px;
}


.divCartas{
    height: 130px;
}
.fichasApuesta{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    left: 10px;
    margin-left: 10px;
}